<!-- -------- START FOOTER 5 w/ DARK BACKGROUND ------- -->
<div class="position-relative mt-8">
    <div class="container">
        <div class="card bg-gradient-primary z-index-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 mx-auto text-center">
                        <h3 class="text-white">Be the first who see the news</h3>
                        <p class="text-white opacity-8 mb-5 pe-5">
                            Your company may not be in the software business,
                            but eventually, a software company will be in your business.
                        </p>
                        <div class="row">
                            <div class="col-sm-5 ms-auto">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    <input type="text" class="form-control mb-sm-0 mb-2" placeholder="Email Here...">
                                </div>
                            </div>
                            <div class="col-sm-3 me-auto text-start">
                                <button type="button" class="btn bg-white w-100 mb-0 h-100 position-relative z-index-2">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer pb-5 pt-10 bg-dark mt-n8 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h6 class="text-white mb-lg-4 mb-3">Now UI Design</h6>
            </div>
            <div class="col-lg-6 text-center">
                <ul class="nav flex-row align-items-center mb-5 mt-sm-0 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://www.creative-tim.com" target="_blank">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://www.creative-tim.com/presentation" target="_blank">
                            About
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://www.creative-tim.com/blog" target="_blank">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://www.creative-tim.com" target="_blank">
                            Services
                        </a>
                    </li>
                </ul>
                <p class="mb-0 text-white">
                    Copyright ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    Now UI by Creative Tim.
                </p>
            </div>
            <div class="col-lg-3 text-end">
                <a href="javascript:;" target="_blank" class="text-white me-xl-4 me-4">
                    <span class="fab fa-dribbble text-lg"></span>
                </a>
                <a href="javascript:;" target="_blank" class="text-white me-xl-4 me-4">
                    <span class="fab fa-twitter text-lg"></span>
                </a>
                <a href="javascript:;" target="_blank" class="text-white me-xl-4 me-4">
                    <span class="fab fa-pinterest text-lg"></span>
                </a>
                <a href="javascript:;" target="_blank" class="text-white">
                    <span class="fab fa-github text-lg"></span>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- -------- END FOOTER 5 w/ DARK BACKGROUND ------- -->